
/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

CREATE DATABASE /*!32312 IF NOT EXISTS*/ `matterworks_core` /*!40100 DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci */;

USE `matterworks_core`;
DROP TABLE IF EXISTS `item_definitions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `item_definitions` (
  `id` varchar(64) NOT NULL,
  `name` varchar(64) DEFAULT NULL,
  `description` varchar(255) DEFAULT NULL,
  `category` varchar(32) NOT NULL,
  `base_price` decimal(30,2) DEFAULT 0.00,
  `tier` int(11) DEFAULT 1,
  `stats` longtext DEFAULT NULL,
  `model_id` varchar(64) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `item_definitions` WRITE;
/*!40000 ALTER TABLE `item_definitions` DISABLE KEYS */;
/*!40000 ALTER TABLE `item_definitions` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `machine_definitions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `machine_definitions` (
  `type_id` varchar(64) NOT NULL,
  `width` int(11) DEFAULT 1,
  `height` int(11) DEFAULT 1,
  `depth` int(11) DEFAULT 1,
  PRIMARY KEY (`type_id`),
  CONSTRAINT `fk_machine_item` FOREIGN KEY (`type_id`) REFERENCES `item_definitions` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `machine_definitions` WRITE;
/*!40000 ALTER TABLE `machine_definitions` DISABLE KEYS */;
INSERT INTO `machine_definitions` VALUES ('chromator',2,1,1),('color_mixer',2,1,1),('conveyor_belt',1,1,1),('cutting',2,2,2),('drill_mk1',1,2,1),('dropper',1,2,1),('lift',1,2,1),('merger',2,1,1),('nexus_core',3,3,3),('smoothing',2,1,2),('splitter',2,1,1);
/*!40000 ALTER TABLE `machine_definitions` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `player_inventory`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `player_inventory` (
  `player_uuid` binary(16) NOT NULL,
  `item_id` varchar(64) NOT NULL,
  `quantity` int(11) DEFAULT 0,
  PRIMARY KEY (`player_uuid`,`item_id`) USING BTREE,
  KEY `fk_inv_item` (`item_id`) USING BTREE,
  CONSTRAINT `fk_inv_item` FOREIGN KEY (`item_id`) REFERENCES `item_definitions` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_inv_player` FOREIGN KEY (`player_uuid`) REFERENCES `players` (`uuid`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci ROW_FORMAT=DYNAMIC;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `player_inventory` WRITE;
/*!40000 ALTER TABLE `player_inventory` DISABLE KEYS */;
/*!40000 ALTER TABLE `player_inventory` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `player_session`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `player_session` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `player_uuid` binary(16) NOT NULL,
  `login_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `logout_at` timestamp NULL DEFAULT NULL,
  `session_seconds` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_player_uuid` (`player_uuid`),
  KEY `idx_logout_at` (`logout_at`),
  CONSTRAINT `fk_session_player` FOREIGN KEY (`player_uuid`) REFERENCES `players` (`uuid`)
) ENGINE=InnoDB AUTO_INCREMENT=87 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `player_session` WRITE;
/*!40000 ALTER TABLE `player_session` DISABLE KEYS */;
/*!40000 ALTER TABLE `player_session` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `players`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `players` (
  `uuid` binary(16) NOT NULL,
  `username` varchar(32) NOT NULL,
  `money` decimal(30,4) DEFAULT 0.0000,
  `void_coins` int(11) DEFAULT 0,
  `prestige_level` int(11) DEFAULT 0,
  `active_boosters` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`active_boosters`)),
  `purchased_cap_bonus` int(11) DEFAULT 0,
  `tech_unlocks` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`tech_unlocks`)),
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  `last_login` timestamp NULL DEFAULT current_timestamp(),
  `rank` varchar(20) DEFAULT 'PLAYER',
  PRIMARY KEY (`uuid`) USING BTREE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci ROW_FORMAT=DYNAMIC;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `players` WRITE;
/*!40000 ALTER TABLE `players` DISABLE KEYS */;
/*!40000 ALTER TABLE `players` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `plot_machines`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `plot_machines` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `plot_id` int(11) NOT NULL,
  `type_id` varchar(64) NOT NULL,
  `x` int(11) NOT NULL,
  `y` int(11) NOT NULL,
  `z` int(11) NOT NULL,
  `metadata` longtext DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_plot_machines_plot` (`plot_id`)
) ENGINE=InnoDB AUTO_INCREMENT=779 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `plot_machines` WRITE;
/*!40000 ALTER TABLE `plot_machines` DISABLE KEYS */;
/*!40000 ALTER TABLE `plot_machines` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `plot_resources`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `plot_resources` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `plot_id` bigint(20) NOT NULL,
  `x` int(11) NOT NULL,
  `z` int(11) NOT NULL,
  `resource_type` varchar(32) NOT NULL,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_vein_per_cell` (`plot_id`,`x`,`z`),
  CONSTRAINT `fk_plot_resources_plot` FOREIGN KEY (`plot_id`) REFERENCES `plots` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=461 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `plot_resources` WRITE;
/*!40000 ALTER TABLE `plot_resources` DISABLE KEYS */;
/*!40000 ALTER TABLE `plot_resources` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `plots`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `plots` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `owner_id` binary(16) NOT NULL,
  `allocation_index` int(11) NOT NULL DEFAULT 0,
  `world_x` int(11) NOT NULL DEFAULT 0,
  `world_z` int(11) NOT NULL DEFAULT 0,
  `expansion_tier` int(11) DEFAULT 1,
  `is_active` tinyint(1) DEFAULT 1,
  `x` int(11) DEFAULT 0,
  `z` int(11) DEFAULT 0,
  `world_id` int(11) DEFAULT 0,
  PRIMARY KEY (`id`) USING BTREE,
  KEY `fk_plot_owner` (`owner_id`) USING BTREE,
  CONSTRAINT `fk_plot_owner` FOREIGN KEY (`owner_id`) REFERENCES `players` (`uuid`)
) ENGINE=InnoDB AUTO_INCREMENT=33 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci ROW_FORMAT=DYNAMIC;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `plots` WRITE;
/*!40000 ALTER TABLE `plots` DISABLE KEYS */;
INSERT INTO `plots` VALUES (23,_binary 'Uä\0\ÔøAÈºDfUD\0\0',0,0,0,0,1,1,0,0),(24,_binary '\¦╔¬4\ÃxFô£U\§\¤\╬b\0',0,0,0,0,1,1,0,0),(26,_binary '┐l▒WâL=ç\§~wu\ý£\µ',0,0,0,0,1,1,0,0),(27,_binary 'y\"6XåL£®áÉ\±8ñV\┌',0,0,0,0,1,1,0,0),(30,_binary '\┬_\╦-\ÍqI╣╚çà╣K\┬\Í',0,0,0,0,1,1,0,0),(31,_binary '\Zú¬¼IòÅÈÜHa┌Á.',0,0,0,0,1,1,0,0),(32,_binary ' ┤Øk?²C#önu╗·;`\╬',0,0,0,0,1,1,0,0);
/*!40000 ALTER TABLE `plots` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `server_gamestate`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `server_gamestate` (
  `id` int(11) NOT NULL DEFAULT 1,
  `active_faction_id` varchar(32) NOT NULL DEFAULT 'KWEEBEC',
  `current_cycle_end` timestamp NOT NULL,
  `global_multipliers` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`global_multipliers`)),
  `sos_threshold` decimal(10,2) DEFAULT 500.00,
  `player_start_money` decimal(10,2) DEFAULT 1000.00,
  `vein_raw` int(11) DEFAULT 3,
  `vein_red` int(11) DEFAULT 1,
  `vein_blue` int(11) DEFAULT 1,
  `vein_yellow` int(11) DEFAULT 1,
  `MinutesToInactive` int(11) NOT NULL DEFAULT 5,
  PRIMARY KEY (`id`) USING BTREE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci ROW_FORMAT=DYNAMIC;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `server_gamestate` WRITE;
/*!40000 ALTER TABLE `server_gamestate` DISABLE KEYS */;
INSERT INTO `server_gamestate` VALUES (1,'KWEEBEC','2025-12-11 21:54:44',NULL,150.00,150.00,5,2,2,1,1);
/*!40000 ALTER TABLE `server_gamestate` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `tech_definitions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tech_definitions` (
  `node_id` varchar(64) NOT NULL,
  `name_display` varchar(64) DEFAULT NULL,
  `cost_money` decimal(30,2) DEFAULT NULL,
  `parent_node_ids` longtext DEFAULT NULL,
  `unlock_machine_ids` longtext DEFAULT NULL,
  PRIMARY KEY (`node_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `tech_definitions` WRITE;
/*!40000 ALTER TABLE `tech_definitions` DISABLE KEYS */;
/*!40000 ALTER TABLE `tech_definitions` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `transactions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `transactions` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `player_uuid` binary(16) NOT NULL,
  `action_type` varchar(32) NOT NULL,
  `currency` varchar(16) NOT NULL,
  `amount` decimal(30,4) NOT NULL,
  `item_id` varchar(64) DEFAULT NULL,
  `occurred_at` timestamp NULL DEFAULT current_timestamp(),
  `username` varchar(255) DEFAULT NULL,
  `money_balance` decimal(10,2) DEFAULT NULL,
  `void_coins_balance` int(11) DEFAULT NULL,
  `prestige_level` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`) USING BTREE,
  KEY `fk_tx_player` (`player_uuid`) USING BTREE,
  CONSTRAINT `fk_tx_player` FOREIGN KEY (`player_uuid`) REFERENCES `players` (`uuid`)
) ENGINE=InnoDB AUTO_INCREMENT=17204 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci ROW_FORMAT=DYNAMIC;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `transactions` WRITE;
/*!40000 ALTER TABLE `transactions` DISABLE KEYS */;
/*!40000 ALTER TABLE `transactions` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `verification_codes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `verification_codes` (
  `code` varchar(8) NOT NULL,
  `player_uuid` binary(16) NOT NULL,
  `expires_at` timestamp NOT NULL,
  PRIMARY KEY (`code`) USING BTREE,
  KEY `fk_verify_player` (`player_uuid`) USING BTREE,
  CONSTRAINT `fk_verify_player` FOREIGN KEY (`player_uuid`) REFERENCES `players` (`uuid`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci ROW_FORMAT=DYNAMIC;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `verification_codes` WRITE;
/*!40000 ALTER TABLE `verification_codes` DISABLE KEYS */;
/*!40000 ALTER TABLE `verification_codes` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

